/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    text-align: center;
    overflow-x: hidden; /* Убирает горизонтальный скролл */
}

/* Заголовок */
header {
    background: linear-gradient(90deg, #ff4500, #ff6347);
    padding: 30px 15px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100vw; /* Фикс для ширины */
}

header h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header h2 {
    font-size: 1.2em;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Основной контент */
main {
    padding: 20px;
}

/* Информация о персонаже */
.info {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
    line-height: 1.8;
    background: rgba(255, 69, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: #ff4500;
}

/* Фото */
.photo-section {
    margin-top: 30px;
}

.photo-section h3 {
    font-size: 1.8em;
    color: #ff6347;
    margin-bottom: 20px;
}

.photo-container {
    margin: 0 auto;
    padding: 10px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(40, 40, 40, 0.8);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #ff6347;
}

/* Подвал */
footer {
    margin-top: 30px;
    padding: 10px;
    background: #282828;
    font-size: 1em;
    color: #f4f4f4;
    border-top: 2px solid #ff6347;
}

.lang-switch {
    position: absolute;
    top: 10px;
    right: 20px;
    background: #ffa600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.lang-switch:hover {
    background: #ff8800;
}
